
.idea/vcs.xml
.idea/workspace.xml
lytechsensor/__init__.pyc
lytechsensor/settings.pyc
lytechsensor/urls.pyc
lytechsensor/wsgi.pyc
sensor/__init__.pyc
sensor/admin.pyc
sensor/migrations/0001_initial.pyc
sensor/migrations/0002_remove_temperaturesensor_pub_time.pyc
sensor/migrations/0003_temperaturesensor_pub_time.pyc
sensor/migrations/0004_auto_20170725_0600.pyc
sensor/migrations/0005_auto_20170725_0914.pyc
sensor/migrations/__init__.pyc
sensor/models.pyc
sensor/serializers.pyc
sensor/urls.pyc
sensor/views.pyc
